@media (max-width: 480px) {
    .nav {
      height: 60px !important;
    }

    #sitetitulo {
      font-size: 1.6em !important;
    }

    .menu a {
      font-size: 0.75rem !important;
    }

    .valor {
      width: 160px !important;
      height: 160px !important;
      font-size: 14px !important;
    }

    .img-img, .img3-img {
      height: auto !important;
      border-width: 2px !important;
    }

    #texto-pilares, #texto-pilares1 {
      font-size: 15px !important;
      margin: 2vw 2vh !important;
    }
  }

.menu-mobile {
  display: flex;
  gap: 20px;
}

/* Botão escondido no desktop */
.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

/* RESPONSIVO */
@media (max-width: 480px) {
  .menu {
    display: none;
    flex-direction: column;
    background: #f2f2f2;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 10px;
  }

  .menu.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
  }
}